/*""""""""""""""""""""""""""""*\
 * general / global
 */
html {
	height:100%; overflow-y:scroll;
}
body {
  background: #fff;
  text-align: center;
  font-family: 'Trebuchet MS',Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.3;
}
img { border:none; }

a { text-decoration: underline; }
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #444; }
a:active { color: #fff; }

/*""""""""""""""""""""""""""""*\
 * primary layout
 */
div#wrapper {
  margin: 0 auto;
  background: #fff;
  width: 780px;
  text-align: justify;
}

div#titlebox {
  margin-top: 0px;
  padding: 10px;
  background: #ddd;
  color: #000;
  width: 760px;
  position: relative;
}
div#title {
  font-size: 2em;
  word-spacing: 5px;
  letter-spacing: 0.08cm;
	margin-bottom: 5px;
	margin-left: 5px;
}
div#subtitle {
  position: relative;
  padding-left: 60px;
  word-spacing: 5px;
  letter-spacing: 0.1cm;
}
div.spacer {
  position: relative;
  background: #fff;
  height: 15px;
}
div#footerbox {
  margin-top: 0px;
  padding: 0px 10px;
  background: #ddd;
  color: #000;
  width: 760px;
  font-size: 0.7em;
  position: relative;
}
#note {
  position: absolute;
  left:0px;
  top:0px;
  padding: 5px 5px;
}
#stupid { padding: 5px 0; }

/*""""""""""""""""""""""""""""*\
 * menu / navigation box
 */
div#menu {
  padding: 0 10px;
  background: #ddd 50%;
  position: relative;
  left: 15px;
  width: 147px;
  float: left;
  color: #000;
  display: inline;
}
div#menu dt {
  padding: 5px 10px;
  background: #eee;
  font-weight: bold;
}
div#menu dd {
	margin: 0px;
	border-top: 1px solid black;
}
div#menu ul {
	margin: 0px;
}
div#menu li {
  list-style-type: none;
  position: relative;
	left: -25px;
  padding-top: 5px;
	width: 120px;
}
div#menu li:hover {
	text-decoration: underline;
}

/*""""""""""""""""""""""""""""*\
 * page content / post list
 */
div#contentbox {
  padding: 10px 10px 0 10px;
  background: #ddd 50%;
  position: relative;
  right: 15px;
  width: 547px;
  float: right;
  color: #000;
}
div.contenttitle {
  padding: 5px 10px;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  color: #000;
  font-weight: bold;
}
div.contenttext {
	background: #eee;
	padding: 5px 10px;
	display: block;
  margin-bottom: 20px;
  color: #000;
}
div.contenttext a {
	font-weight: bold;
}

/*""""""""""""""""""""""""""""*\
 * interactive / editing
 */
.edit input { width: 100%; }
.edit textarea {
	width: 100%;
	font-size: 1.2em;
}

.hide { display: none; }
