/*""""""""""""""""""""""""""""*\
 * general / global
 */
html {
	height:100%; overflow-y:scroll;
}
body {
  background-color: #bbb;
  text-align: center;
	font-family:
		'Liberation Sans',
		Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.2;
}
textarea {
margin-top: 10px;
}
pre {
	font-family:
		'DejaVu Sans Mono',
		'Courier New', monospace;
	overflow-x: auto;
	background-color: #fff;
}
code {
	font-family:
	'DejaVu Sans Mono',
	'Courier New', monospace;
	background-color: #eee;
}
img { border:none; }

a { text-decoration: underline; }
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #444; }
a:active { color: #fff; }

/*""""""""""""""""""""""""""""*\
 * primary layout
 */
div#wrapper {
  margin: 0 auto;
  width: 780px;
  text-align: justify;
}

div#header {
  margin-top: 0px;
  padding: 10px;
  background-color: #fff;
  width: 760px;
  position: relative;
}
div#title {
  font-size: 2em;
  word-spacing: 5px;
  letter-spacing: 0.08cm;
	margin-bottom: 5px;
	margin-left: 5px;
}
div#posttitle {
  font-size: 1.6em;
	padding: 5px 10px;
	background-color: #ddd;
	font-weight: bold;
}
div#abstract {
  position: relative;
  padding: 0 20px;	
}
div#subtitle {
  position: relative;
  padding-left: 60px;
  word-spacing: 5px;
  letter-spacing: 0.1cm;
}
div.spacer {
  position: relative;
  height: 15px;
}
div#footer {
  margin-top: 0px;
  padding: 0px 10px;
  background-color: #fff;
  width: 760px;
  font-size: 0.8em;
  position: relative;
}
#note {
  position: absolute;
  left:0px;
  top:0px;
  padding: 5px 5px;
}
#stupid { padding: 5px 0; }

#sidebar {
	position: relative;
	left: 15px;
	width: 147px;
	float: left;
}

/*""""""""""""""""""""""""""""*\
 * menu / navigation box
 */
div#menu {
  padding: 0 10px;
  background-color: #fff;
	display: inline-block;
	width: 100%;
}
div#menu a {
	text-decoration: none;
}
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }

div#menu dl {
	margin: 10px 0;
}
div#menu dt {
  padding: 5px 10px;
  background-color: #ddd;
  font-weight: bold;
}

div#menu dt.closed:not(.editing):before {
	content: url(/plotke/images/arrow1.gif);
	padding-right: 5px;
}
div#menu dt:not(.editing):before {
	content: url(/plotke/images/arrow2.gif);
	padding-right: 5px;
}

div#menu dd {
	margin: 0px;
}
div#menu ul {
	margin: 0 0 15px 0;
	padding-left: 10px;
	width: 120px;
}
div#menu li {
  list-style-type: none;
  position: relative;
  padding: 2px 4px;
	margin: 4px 0;
}
div#menu li.live {
	background-color: #00bb0d;
	color: #fff;
}
div#menu li.squish {
	padding: 0 4px;
}
div#menu li:hover {
	text-decoration: underline;
}

/*""""""""""""""""""""""""""""*\
 * page content / post list
 */
div#content {
  padding: 0 10px 10px 10px;
  background-color: #fff;
  position: relative;
  right: 15px;
  width: 547px;
  float: right;
  color: #000;
}
div.post {
	position: relative;
	margin-top: 10px;
}
div.title {
  padding: 5px 10px;
  background-color: #ddd;
  position: relative;
  color: #000;
  font-weight: bold;
}
div.body {
	background-color: #fff;
	padding: 0 10px;
	display: block;
  margin-bottom: 30px;
  color: #000;
}
div.text a {
	font-weight: bold;
}

/*""""""""""""""""""""""""""""*\
 * interactive / editing
 */
.dragging {
	background-color: #bbb !important;
	color: #fff !important;
}
#message {
	z-index: 990;
	position: fixed;
	width: 100%;
	background-color: black;
	color: white;
	margin: -8px;
	padding: 4px;
	font-weight: bold;
}
.edit input { width: 100%; }
.edit textarea {
	width: 100%;
	font-size: 1.1em;
}

.hide { display: none; }

div.new {
	position: relative;
	padding: 1px 0;
	background-color: #7785ff;
	display: none;
}
div.new.show {
	display: block;
}
div.new > div {
	z-index: 980;
	position: absolute;
	padding: 9px 0;
	width: 100%;
	top: -9px;
	background-color: transparent;
}
div.new.live {
	background-color: #0013bb;
}

div#edit {
  padding: 10px 10px 0 10px;
  background-color: #fff;
	display: inline-block;
	width: 100%;
	margin-top: 15px;
}
div#edit ul {
	margin: 0;
	padding: 0;
}
div#edit li {
	list-style-type: none;
  position: relative;
  padding: 5px 10px;
  background-color: #ddd;
  font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
div#edit li.live {
	background-color: #bb0202;
	color: #fff;
}

/*""""""""""""""""""""""""""""*\
 * dropdown menu
 */
div.alter {
	z-index: 970;
	position: absolute;
	font-weight: normal;
	border-left: 2px solid #fff;
	width: 5px;
	top: 0;
	right: 0;
}
div.alter ul {
	background-color: #fff;
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	width: 75px;
	left: -999em;
	border: 2px solid #bbb;
}
div.alter:hover ul {
	left: -50px;
}
div.alter li {
	padding: 5px;
}
div.alter li:hover {
	background-color: #ddd;
}
