html { height:100%; overflow-y:scroll; }
body {
  background: #fff;
  text-align: center;
  font-family: 'Trebuchet MS',Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.3;
  /*overflow-y: scroll;*/
}

div#wrapper {
  margin: 0 auto;
  background: #fff;
  width: 780px;
  /*max-width: 780px;
  min-width: 240px;*/
  /*width: expression(document.body.clientWidth < 242? "240px" : document.body.clientWidth > 782? "780px" : "auto");*/
  text-align: justify;
}

div.titlebox {
  margin-top: 0px;
  padding: 10px;
  background: #ccc;
  color: #000;
  width: 760px;
  position: relative;
}
#title {
  font-size: 2em;
  word-spacing: 5px;
  letter-spacing: 0.08cm;
}
#subtitle {
  position: relative;
  padding-left: 60px;
  word-spacing: 5px;
  letter-spacing: 0.1cm;
}

div.moronic { padding: 0px; }

div.spacer {
  position: relative;
  background: #fff;
  height: 15px;
}

div.navbox {
  padding: 10px;
  background: #ccc 50%;
  position: relative;
  left: 15px;
  width: 147px;
  float: left;
  color: #000;
  display: inline;
}
div.menu {
  padding: 5px 0 5px 10px;
  background: #eee;
  width: 137px;
  position: relative;
  color: #000;
  font-weight: bold;
}
img.arrow {
  position:relative;
  top:1px;
  right:3px;
}
.show { margin: 10px 0 -5px 10px; }
.submenu {
  list-style-type: none;
  position: relative;
  top: -10px;
  padding-top: 5px;
  vertical-align: bottom;
}
div.menuspacer { padding-bottom: 10px; }

div.contentbox {
  padding: 10px;
  background: #ccc 50%;
  position: relative;
  right: 15px;
  width: 547px;
  float: right;
  color: #000;
}
div.contenttitle {
  padding: 5px 0 5px 10px;
  background: #eee;
  margin-bottom: 10px;
  width: 537px;
  position: relative;
  color: #000;
  font-weight: bold;
}
div.date {
	font-size: .8em;
	max-height: 15px;
	color: #444;
	background-color: #eee;
	position: relative;
	margin: 8px 0;
	padding: 0 4px;
	text-align: left;
}
div.contentspacer {
  background: #ccc;
  height: 10px;
}
div.contenttext {
  background: #ccc;
  /*padding-left: 10px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 526px;
  position: relative;
  color: #000;
}
div.contenttext a { font-weight: bold; }

ul.regular {
  list-style-type: none;
  position: relative;
  right: 20px;
  text-indent:-15px;
  margin-top:-5px;
}
ul.regular li {padding-top:5px;}

img { border:none; }

div.footerbox {
/* Needed when not using niftycorners, not sure why... */
  margin-top: 0px;
  padding: 0px 10px;
  background: #ccc;
  color: #000;
  width: 760px;
  font-size: 0.7em;
  position: relative;
}
#note {
  position: absolute;
  left:0px;
  top:0px;
  padding: 5px 5px;
}

#stupid { padding: 5px 0; }
#wink {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 5px;
}
#wink a:hover { color: #000; }

a { text-decoration: none; }
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #444; }
a:active { color: #000; }
/*a:active { color: #ff0; }*/

.hide { display: none; }
.show { display: block; }

img.hide { display: none; }
img.show { display:inline; }

/* Used to hide the annoying OneStat image. */
#OneStatTag { visibility:hidden; max-height:1px; }
